:root {
    --body: #ffffff;
    --heading: #ffffff;
    --base-1: #2e2e2e;
    --base-2: #000000;
    --blue-darkmode: #40A2D8;
    --sidbar-width: 16%;
    --font-base: "Caveat";
    --white: #ffffff;
    --black: #000000;
    --navover: #0000008f;
    --placeholder: #f8f8f857;
    --star: #f5dd27;
    --duration: 1.2s;
    --text-in-duration: 0.6s;
    --text-in-delay: 0.2s;
    --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

* {
    cursor: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor {
    --size: 25px !important;
    --body-color: var(--white) !important;
    --outline-color: var(--black) !important;
}

.cursor .inner {
    fill: var(--body-color);
}

.cursor .outer {
    fill: var(--outline-color);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar:hover {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--base-1);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--base-2);
    color: var(--body);
    font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--blue-darkmode);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--blue-darkmode);
}

#word-container{
    display: block;
}

.char {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: text-in var(--text-in-duration) var(--easing) forwards;
}

@keyframes text-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.bg-base {
    background-color: rgba(61, 61, 61, 0.401);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vmax;
    padding-bottom: 10vh;
}

#footer {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    bottom: -50px;
}

.iconbox {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-darkmode);
    color: black;
}

.iconbox-wrapper {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
    padding: 10px;
}

.iconbox i {
    font-size: 8vmin;
}

@media (max-width: 1250px) {
    .iconbox-wrapper {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 768px) {
    .iconbox-wrapper {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-height: 650px) {
    .navbar {
        display: none;
    }

    .d-sm-block {
        display: none;
    }

    #nav {
        display: none;
    }

    .fixed-top {
        display: none;
    }
}

@media (min-width: 993px) and (min-height: 650px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        min-width: 180px;
        background: linear-gradient(var(--navover), var(--navover)), url("../images/wall.jpg");
        background-size: cover;
        background-position: center;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 0px;
    }

    .navbar .nav-link {
        font-size: calc(0.6rem + 1.2vw);
        font-weight: 700;
        color: var(--body);
        transition: transform 0.1s ease-in-out;
    }

    .navbar .nav-link:hover {
        color: var(--blue-darkmode);
        transform: scale(1.26);
        font-weight: 1000;
    }

    .navbar-brand img {
        border: 8px solid var(--blue-darkmode);
    }

    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

    #hoverText::after {
        content: "Kratak";
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 0s ease;
    }

    #hoverText:hover::before {
        opacity: 0;
    }

    #hoverText:hover::after {
        opacity: 1;
    }

    @keyframes highlights {
        0% {
            transform: scale(1);
            color: var(--white);
        }

        50% {
            transform: scale(1.26);
        }

        100% {
            transform: scale(1);
            color: var(--body);
        }
    }

    .nav-link:active {
        animation: highlights 0.2s ease;
    }
}

.card-custom {
    border-radius: 3rem;
    position: static;
    will-change: transform, opacity;
}

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-custom-content {
    flex-grow: 1;
}
  
.card_sec {
    padding-bottom: 0rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.btn_sec {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-top: 0rem !important;
}

#footer .form-control {
    background-color: var(--base-1);
    border-color: var(--base-1);
    color: var(--white);
    border-radius: 1rem;
    width: 100%;
    transition: all 0.25s cubic-bezier(0.2, 0.61, 0.56, 0.71);
    cursor: text;
    font-family: 'Courier New', Courier, monospace;
}

#footer .form-control:focus {
    border-color: var(--blue-darkmode);
    box-shadow: none;
}

#footer .form-control:hover {
    box-shadow: 0 0 0 1.5px var(--blue-darkmode), 0px 0px 25px -15px #000;
}

#footer .form-control::placeholder {
    color: var(--placeholder);
}

#footer .form-control:active {
    transform: scale(.98);
}

#footer input.form-control {
    height: 44px;
}

ul {
    list-style: none;
}

.social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.social_icons .icon-content {
    margin: 0 5px;
    position: relative;
}

.icon-content:active {
    transform: scale(.85);
}

.social_icons .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--body);
    padding: 6px 10px;
    border-radius: 3rem;
    border-color: var(--body);
    opacity: 0;
    visibility: hidden;
    font-family: var(--font-base), cursive;
    font-size: 16px;
    transition: all 0.3s ease;
}

@media (max-width:600.98px) {
    .tooltip {
        display: none;
    }
}

.social_icons .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -20px;
}

.social_icons .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 42px;
    border-radius: 3rem;
    color: var(--black);
    background-color: var(--body);
    transition: all 0.3s ease-in-out;
}

.social_icons .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.social_icons .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 23px;
    height: 30px;
}

.social_icons .icon-content a:hover {
    color: var(--white);
}

.social_icons .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--black);
    transition: all 0.3s ease-in-out;
}

.social_icons .icon-content a:hover .filled {
    height: 100%;
}

.social_icons .icon-content a[data-social="linkedin"] .filled,
.social_icons .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0A66C2;
}

.social_icons .icon-content a[data-social="github"] .filled,
.social_icons .icon-content a[data-social="github"]~.tooltip {
    background-color: #24292e;
}

.social_icons .icon-content a[data-social="gmail"]~.tooltip {
    background-color: #000;
}

.social_icons .icon-content a[data-social="gmail"] .filled {
    background-color: #ffffff00;
}

.social_icons .icon-content a[data-social="gmail"]:hover svg .path-1 {
    fill: #4caf50;
}

.social_icons .icon-content a[data-social="gmail"]:hover svg .path-2 {
    fill: #1e88e5;
}

.social_icons .icon-content a[data-social="gmail"]:hover svg .path-3 {
    fill: #e53935;
}

.social_icons .icon-content a[data-social="gmail"]:hover svg .path-4 {
    fill: #c62828;
}

.social_icons .icon-content a[data-social="gmail"]:hover svg .path-5 {
    fill: #fbc02d;
}

.social_icons .icon-content a[data-social="instagram"] .filled,
.social_icons .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.social_icons .icon-content a[data-social="telegram"] .filled,
.social_icons .icon-content a[data-social="telegram"]~.tooltip {
    background-color: #0088cc;
}

.zoom-text {
    transition: transform 0.2s ease;
    display: inline-block;
}

.zoom-text:hover {
    transform: scale(1.10);
}

.profiles {
    font-size: calc(1.2rem + 1.2vmax);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.content_text { 
    font-size: calc(0.8rem + 1.2vmin);
}

.icon-fade {
    transition: opacity 0.1s ease;
}

.text-fade {
    position: absolute;
    opacity: 0;
    color: black;
    transition: opacity 0.3s ease;
    font-size: calc(0.8rem + 1.2vw);
}

.zoom-text:hover .icon-fade {
    opacity: 0;
}

.zoom-text:hover .text-fade {
    opacity: 1;
    font-weight: 600;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 80%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--black);
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 12s linear infinite;
}


.background li:nth-child(0) {
    left: 34%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 16%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 3s;
}

.background li:nth-child(2) {
    left: 39%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 3s;
}

.background li:nth-child(3) {
    left: 45%;
    width: 251px;
    height: 251px;
    bottom: -251px;
    animation-delay: 14s;
}

.background li:nth-child(4) {
    left: 17%;
    width: 228px;
    height: 228px;
    bottom: -228px;
    animation-delay: 10s;
}

.background li:nth-child(5) {
    left: 35%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 1s;
}

.background li:nth-child(6) {
    left: 5%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 18s;
}

.background li:nth-child(7) {
    left: 77%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 8s;
}

.background li:nth-child(8) {
    left: 8%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 2s;
}

.background li:nth-child(9) {
    left: 32%;
    width: 251px;
    height: 251px;
    bottom: -251px;
    animation-delay: 31s;
}

.background li:nth-child(10) {
    left: 73%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 23s;
}

.background li:nth-child(11) {
    left: 31%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 2s;
}

.background li:nth-child(12) {
    left: 56%;
    width: 203px;
    height: 203px;
    bottom: -203px;
    animation-delay: 3s;
}

.background li:nth-child(13) {
    left: 82%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 19s;
}

.background li:nth-child(14) {
    left: 77%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 26s;
}

.background li:nth-child(15) {
    left: 72%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 62s;
}

.background li:nth-child(16) {
    left: 44%;
    width: 237px;
    height: 237px;
    bottom: -237px;
    animation-delay: 16s;
}


.image-wrapper {
    height: 11.5rem;
    border-radius: 25rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .image-wrapper {
        height: 6.5rem;
    }
}


.image-wrapper img {
    height: auto;
    max-width: 100%;
}

.shines {
    position: relative;
    overflow: hidden;
}

.shines::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    z-index: 2;
}

.shines:hover::before,
.shines:focus::before {
    animation: shines 0.85s;
}

@keyframes shines {
    100% {
        left: 125%;
    }
}

:root {
    --color: var(--yellow-5);
    --shadow: var(--yellow-8);
    --glare: var(--yellow-5);
    --font-size: var(--font-size-fluid-3);
    --transition: 0.3s;
}


.shine {
    padding: 0;
    color: transparent;
    position: relative;
    transition: background 0.2s;
}

.shine:hover {
    background: transparent;
}

.shine_span {
    display: inline-block;
    transition: all 5s;
}

.shine_span:last-of-type {
    position: absolute;
    inset: var(--padding);
    color: transparent;
    z-index: 2;
}

.shine_span:last-of-type {
    transition: transform 0.2s, background-position 0s;
}

.shine:hover span:last-of-type {
    transition: transform 0.2s, background-position calc(var(--hover) * 1.5s) calc(var(--hover) * 0.25s);
}

.shine {
    --hover: 0.4;
    --pos: 0;
}

.shine:hover {
    --hover: 1;
    --pos: 1;
}

.shine:active {
    --hover: 0;
}

.shine:active span:last-of-type {
    --hover: 0;
    --pos: 1;
}

.shine svg {
    position: absolute;
    z-index: 3;
    width: calc(var(--font-size) * 0.5);
    aspect-ratio: 1;
}

.shine svg path {
    fill: var(--glare);
}

.shine:hover svg {
    -webkit-animation: sparkle 0.75s calc((var(--delay-step) * var(--d)) * 1s) both;
    animation: sparkle 0.75s calc((var(--delay-step) * var(--d)) * 1s) both;
}

@-webkit-keyframes sparkle {
    50% {
        transform: translate(-50%, -50%) scale(var(--s, 1));
    }
}

@keyframes sparkle {
    50% {
        transform: translate(-50%, -50%) scale(var(--s, 1));
    }
}

.shine svg {
    --delay-step: 0.15;
    top: calc(var(--y, 50) * 1%);
    left: calc(var(--x, 0) * 1%);
    transform: translate(-50%, -50%) scale(0);
}

.shine svg:nth-of-type(1) {
    --x: 0;
    --y: 20;
    --s: 1.1;
    --d: 1;
}

.shine svg:nth-of-type(2) {
    --x: 15;
    --y: 80;
    --s: 1.25;
    --d: 2;
}

.shine svg:nth-of-type(3) {
    --x: 45;
    --y: 40;
    --s: 1.1;
    --d: 3;
}

.shine svg:nth-of-type(4) {
    --x: 75;
    --y: 60;
    --s: 0.9;
    --d: 2;
}

.shine svg:nth-of-type(5) {
    --x: 100;
    --y: 30;
    --s: 0.8;
    --d: 4;
}

.resume_button {
    position: relative;
    padding: 0px;
    background: var(--color);
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    border: 3px solid var(--color);
    border-radius: 3rem;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
    opacity: 0;
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    opacity: 0;
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    opacity: 0;
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
    opacity: 0;
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
    opacity: 0;
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
    opacity: 0;
}

.resume_button:hover {
    background: transparent;
    color: var(--color);
    box-shadow: 0 0 5px var(--star);
    transform: scale(1.05);
}

.resume_button:hover .star-1 {
    opacity: 1;
    position: absolute;
    top: -80%;
    left: -25%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 5px var(--star));
    z-index: 2;
}

.resume_button:hover .star-2 {
    opacity: 1;
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 5px var(--star));
    z-index: 2;
}

.resume_button:hover .star-3 {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--star));
    position: absolute;
    top: 75%;
    left: 25%;
    width: 5px;
    height: auto;
    z-index: 2;
}

.resume_button:hover .stars {
    opacity: 1;
    position: absolute;
    top: 75%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 5px var(--star));
}

.resume_button:hover .star-4 {
    opacity: 1;
    position: absolute;
    top: -10%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 5px var(--star));
    z-index: 2;
}

.resume_button:hover .star-5 {
    opacity: 1;
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 5px var(--star));
    z-index: 2;
}

.resume_button:hover .star-6 {
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 5px var(--star));
    z-index: 2;
}

.fil0 {
    fill: var(--color);
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    width: 13vmax;
    height: 55px;
    min-width: 150px;
    font-size: 16px;
    position: relative;
    z-index: 1050;
}

.wrapper-no4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    max-width: 100%;
    overflow: hidden;
}

.wrapper-no4 .button-bird {
    width: 300px;
    height: 88px;
    background-color: var(--blue-darkmode);
    border-radius: 3rem;
    position: absolute;
    top: 70%;
    opacity: 1;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
}

.wrapper-no4 .button-bird__text {
    text-align: center;
    font-size: 30px;
    color: var(--black);
    position: absolute;
    z-index: 1000;
    top: 25%;
    margin: 0;
    transition: transform 0.2s ease;
    width: 90%;
}

.wrapper-no4 .button-bird__text:hover {
    transform: scale(1.2);
    font-weight: 600;
}

.wrapper-no4 .button-bird:focus {
    outline: none;
}

@media (min-width: 992px) {
    .wrapper-no4 .button-bird:hover .bird--30 {
        left: 600px;
        top: -550px;
        opacity: 0;
        transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1), top 1.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1s;
    }
}

.wrapper-no4 .button-bird:hover .bird--30:after {
    left: 50px;
    top: 50px;
    transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .button-bird:hover .bird--30:before {
    left: -50px;
    top: 50px;
    transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .button-bird .feather {
    position: absolute;
    width: 18%;
    left: 40%;
    top: 12px;
    display: none;
    opacity: 0;
    fill: var(--white);
}

.wrapper-no4 .button-bird.active {
    background-color: transparent;
    transition: all 0.2s linear 0.1s;
}

.wrapper-no4 .button-bird.active .button-bird__text {
    color: var(--blue-darkmode);
    -webkit-animation: text-fade 1.5s 0.2s;
    animation: text-fade 1.5s 0.2s;
}

.wrapper-no4 .button-bird.active .feather {
    display: block;
    -webkit-animation: feather-fade 1.5s linear 0.5s forwards;
    animation: feather-fade 1.5s linear 0.5s forwards;
}

.wrapper-no4 .button-bird.active .bird--20,
.wrapper-no4 .button-bird.active .bird--19,
.wrapper-no4 .button-bird.active .bird--18,
.wrapper-no4 .button-bird.active .bird--21,
.wrapper-no4 .button-bird.active .bird--23,
.wrapper-no4 .button-bird.active .bird--25,
.wrapper-no4 .button-bird.active .bird--30 {
    left: 600px;
    top: -550px;
    opacity: 0;
    transition: left 2s cubic-bezier(0.42, 0, 0.58, 1), top 2s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1.5s;
}

.wrapper-no4 .button-bird.active .bird--5,
.wrapper-no4 .button-bird.active .bird--17,
.wrapper-no4 .button-bird.active .bird--16,
.wrapper-no4 .button-bird.active .bird--15,
.wrapper-no4 .button-bird.active .bird--22 {
    left: 600px;
    top: -600px;
    opacity: 0;
    transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, opacity 0.5s linear 1.6s;
}

.wrapper-no4 .button-bird.active .bird--14,
.wrapper-no4 .button-bird.active .bird--13,
.wrapper-no4 .button-bird.active .bird--12,
.wrapper-no4 .button-bird.active .bird--24,
.wrapper-no4 .button-bird.active .bird--1 {
    left: 650px;
    top: -650px;
    opacity: 0;
    transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, opacity 0.5s linear 1.65s;
}

.wrapper-no4 .button-bird.active .bird--11,
.wrapper-no4 .button-bird.active .bird--10,
.wrapper-no4 .button-bird.active .bird--9,
.wrapper-no4 .button-bird.active .bird--26,
.wrapper-no4 .button-bird.active .bird--27 {
    left: 650px;
    top: -700px;
    opacity: 0;
    transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, opacity 0.5s linear 1.7s;
}

.wrapper-no4 .button-bird.active .bird--8,
.wrapper-no4 .button-bird.active .bird--7,
.wrapper-no4 .button-bird.active .bird--6,
.wrapper-no4 .button-bird.active .bird--28 {
    left: 700px;
    top: -750px;
    opacity: 0;
    transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, opacity 0.5s linear 1.75s;
}

.wrapper-no4 .button-bird.active .bird,
.wrapper-no4 .button-bird.active .bird--4,
.wrapper-no4 .button-bird.active .bird--29,
.wrapper-no4 .button-bird.active .bird--3 {
    left: 750px;
    top: -800px;
    opacity: 0;
    transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, opacity 0.5s linear 1.8s;
}

.wrapper-no4 .button-bird.active .bird--2 {
    left: 850px;
    top: -850px;
    opacity: 0;
    transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, top 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, opacity 0.5s linear 1.8s;
}

.wrapper-no4 .button-bird.active .bird--5:after,
.wrapper-no4 .button-bird.active .bird--4:after,
.wrapper-no4 .button-bird.active .bird--8:after,
.wrapper-no4 .button-bird.active .bird--14:before,
.wrapper-no4 .button-bird.active .bird--16:after,
.wrapper-no4 .button-bird.active .bird--17:before,
.wrapper-no4 .button-bird.active .bird--21:after,
.wrapper-no4 .button-bird.active .bird--30:after,
.wrapper-no4 .button-bird.active .bird--30:before {
    left: 50px;
    top: -100px;
    transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) -0.3s;
}

.wrapper-no4 .button-bird.active .bird--4:before,
.wrapper-no4 .button-bird.active .bird--7:before,
.wrapper-no4 .button-bird.active .bird--9:after,
.wrapper-no4 .button-bird.active .bird--12:before,
.wrapper-no4 .button-bird.active .bird--13:before,
.wrapper-no4 .button-bird.active .bird--18:after,
.wrapper-no4 .button-bird.active .bird--27:after,
.wrapper-no4 .button-bird.active .bird--26:before {
    left: -50px;
    top: 0px;
    transition: all ss cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .button-bird.active .bird:before,
.wrapper-no4 .button-bird.active .bird--2:after,
.wrapper-no4 .button-bird.active .bird--1:after,
.wrapper-no4 .button-bird.active .bird--7:after,
.wrapper-no4 .button-bird.active .bird--8:before,
.wrapper-no4 .button-bird.active .bird--15:after,
.wrapper-no4 .button-bird.active .bird--19:before,
.wrapper-no4 .button-bird.active .bird--22:after,
.wrapper-no4 .button-bird.active .bird--28:after,
.wrapper-no4 .button-bird.active .bird--28:before,
.wrapper-no4 .button-bird.active .bird--3:after {
    left: 100px;
    top: -100px;
    transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.wrapper-no4 .button-bird.active .bird--2:before,
.wrapper-no4 .button-bird.active .bird--1:before,
.wrapper-no4 .button-bird.active .bird--9:before,
.wrapper-no4 .button-bird.active .bird--12:after,
.wrapper-no4 .button-bird.active .bird--13:after,
.wrapper-no4 .button-bird.active .bird--17:after,
.wrapper-no4 .button-bird.active .bird--19:before,
.wrapper-no4 .button-bird.active .bird--23:after,
.wrapper-no4 .button-bird.active .bird--23:before {
    left: 50px;
    top: -10px;
    transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .button-bird.active .bird:after,
.wrapper-no4 .button-bird.active .bird--6:before,
.wrapper-no4 .button-bird.active .bird--10:after,
.wrapper-no4 .button-bird.active .bird--11:after,
.wrapper-no4 .button-bird.active .bird--16:before,
.wrapper-no4 .button-bird.active .bird--18:before,
.wrapper-no4 .button-bird.active .bird--20:before,
.wrapper-no4 .button-bird.active .bird--24:before,
.wrapper-no4 .button-bird.active .bird--26:after,
.wrapper-no4 .button-bird.active .bird--27:before {
    left: 50px;
    top: 50px;
    transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .button-bird.active .bird--3:before,
.wrapper-no4 .button-bird.active .bird--6:after,
.wrapper-no4 .button-bird.active .bird--10:before,
.wrapper-no4 .button-bird.active .bird--11:before,
.wrapper-no4 .button-bird.active .bird--14:after,
.wrapper-no4 .button-bird.active .bird--15:before,
.wrapper-no4 .button-bird.active .bird--20:after,
.wrapper-no4 .button-bird.active .bird--22:before,
.wrapper-no4 .button-bird.active .bird--24:after,
.wrapper-no4 .button-bird.active .bird--25:after,
.wrapper-no4 .button-bird.active .bird--25:before,
.wrapper-no4 .button-bird.active .bird--5:before {
    left: 100px;
    top: -10px;
    transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .bird,
.wrapper-no4 .bird:before,
.wrapper-no4 .bird:after,
.wrapper-no4 .bird--1,
.wrapper-no4 .bird--1:after,
.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--2,
.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--3,
.wrapper-no4 .bird--3:after,
.wrapper-no4 .bird--3:before,
.wrapper-no4 .bird--4,
.wrapper-no4 .bird--4:after,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--5,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--6,
.wrapper-no4 .bird--6:after,
.wrapper-no4 .bird--6:before,
.wrapper-no4 .bird--7,
.wrapper-no4 .bird--7:after,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--8,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--9,
.wrapper-no4 .bird--9:after,
.wrapper-no4 .bird--9:before,
.wrapper-no4 .bird--10,
.wrapper-no4 .bird--10:after,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--11,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--12,
.wrapper-no4 .bird--12:after,
.wrapper-no4 .bird--12:before,
.wrapper-no4 .bird--13,
.wrapper-no4 .bird--13:after,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--14,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--15,
.wrapper-no4 .bird--15:after,
.wrapper-no4 .bird--15:before,
.wrapper-no4 .bird--16,
.wrapper-no4 .bird--16:after,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--17,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--18,
.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before,
.wrapper-no4 .bird--19,
.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before,
.wrapper-no4 .bird--20,
.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21,
.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--26:before,
.wrapper-no4 .bird--27,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29,
.wrapper-no4 .bird--29:after,
.wrapper-no4 .bird--29:before,
.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
    opacity: 1;
    display: block;
    position: absolute;
    background-image: url('data:image/svg+xml,<svg version="1.1" id="Ebene_1" x="0px" y="0px" viewBox="0 0 195 71.1" style="enable-background:new 0 0 195 71.1;" xmlns="http://www.w3.org/2000/svg"><defs/><title>birds</title><g id="b1"><path class="st0" d="M9.3,40.5c6.1-2.1,12.2-3.6,16.2-2.1s7.9,2.3,11.9,3.8c3,1.1,9.9,1.3,14.6-2.2c2.9-2.1,7.1-4.9,11.7,0&%2310;&%239;&%239;c-0.2-1.5-1.5-2.8-1.8-3.8c-0.4-1.4-0.3-2.2-1.8-3.8c-2.2-2.3-5.2-1.6-6.9-1.4c-3.2,0.4-3.5-1.9-2.9-4.4s11.5-22.2,9-24.2&%2310;&%239;&%239;C55.9,0,51.6-0.3,47.9,1.3c-5.4,2.5-16.6,15.3-19.5,18.5c-3.6,4-0.1,10.6-0.1,10.6s2.9,4.3-5.4,2.6C17.7,31.8,0,33.7,0,33.7&%2310;&%239;&%239;L9.3,40.5z" style="fill: %2340A2D8;"/></g><g id="b2"><path class="st0" d="M116.3,30.8c1.8,0.1,5.2-0.7,7,0.1c2,1,2.2,1.7,3.2,2.8c0.7,0.9,2.4,1.6,3.2,2.8c-4.8-2.1-9.6,1.3-10.2,1.8&%2310;&%239;&%239;c-1.3,1-2.3,2.4-2.8,4l0,0c-1.5,4-7.7,29.4-9.3,28.4c-2.5-1.5-7.3-4.9-8.6-8.3c-2.2-5.6-2.8-18.3-8.9-22.3C84,36.3,78,35,72.5,37.2&%2310;&%239;&%239;s-3.9-1.7-3.9-1.7s20.8-4.1,30.2-5.5S113.3,30.6,116.3,30.8z" style="fill: %2340A2D8;"/></g><g id="b3"><path class="st0" d="M186.4,35.2c1.2-0.3,3.2-0.7,8,1.4c-0.8-1.2-2.4-2-3.2-2.8c-0.9-1.1-1.1-1.9-3.2-2.8c-1.7-0.8-5.1,0.1-7-0.1&%2310;&%239;&%239;c-3-0.2-8.2-2.3-17.6-0.8s-30.1,5.5-30.1,5.5s-1.7,3.9,3.9,1.7s15.7-2.2,20.6-0.2c2.2,0.8,4.1,2.2,5.6,4c2.2,2.4,4.6,13.5,7.1,15&%2310;&%239;&%239;c1.2,0.7,6.1-7,8.7-11.5c2.5,1.7,5.4,3,8.4,3.7c0.5,0.1-2-8.8-3.1-12.3C185.1,35.6,185.7,35.4,186.4,35.2z" style="fill: %2340A2D8;"/></g></svg>');
    background-size: auto 100%;
    width: 60px;
    height: 33px;
    top: 0;
    left: 0;
    -webkit-animation-name: fly-cycle;
    animation-name: fly-cycle;
    -webkit-animation-timing-function: steps(3);
    animation-timing-function: steps(3);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.wrapper-no4 .bird--1:after,
.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--4:after,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--7:after,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--10:after,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--13:after,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--16:after,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--18,
.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before,
.wrapper-no4 .bird--19,
.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before,
.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21,
.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--26:before,
.wrapper-no4 .bird--27,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29,
.wrapper-no4 .bird--29:after,
.wrapper-no4 .bird--29:before,
.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
    width: 30px;
    height: 33px;
    top: -8px;
    left: 8px;
    z-index: -100;
}

.wrapper-no4 .bird--21,
.wrapper-no4 .bird--22,
.wrapper-no4 .bird--23,
.wrapper-no4 .bird--24,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--27,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--29 {
    top: 3px;
    left: 10px;
}

.wrapper-no4 .bird--22,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--28 {
    top: 25px;
}

.wrapper-no4 .bird--23,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--29 {
    top: 45px;
}

.wrapper-no4 .bird--24,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--26 {
    left: 133px;
}

.wrapper-no4 .bird--27,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--29 {
    left: 225px;
}

.wrapper-no4 .bird--18 {
    top: 0;
    left: 0;
}

.wrapper-no4 .bird {
    top: 3px;
    left: 10px;
}

.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before {
    left: -20px;
}

.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before {
    left: -10px;
}

.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--19:before {
    top: 18px;
}

.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--20:after {
    top: -18px;
    left: 12px;
}

.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21:after {
    left: 27px;
}

.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--20:before {
    top: -36px;
    left: 12px;
}

.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26:before {
    top: 10px;
    left: 45px;
}

.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--29:after {
    left: 10px;
    top: 4px;
}

.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29:before {
    left: -45px;
    top: 10px;
}

.wrapper-no4 .bird:before,
.wrapper-no4 .bird:after,
.wrapper-no4 .bird--1:after,
.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--3:after,
.wrapper-no4 .bird--3:before,
.wrapper-no4 .bird--4:after,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--6:after,
.wrapper-no4 .bird--6:before,
.wrapper-no4 .bird--7:after,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--9:after,
.wrapper-no4 .bird--9:before,
.wrapper-no4 .bird--10:after,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--12:after,
.wrapper-no4 .bird--12:before,
.wrapper-no4 .bird--13:after,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--15:after,
.wrapper-no4 .bird--15:before,
.wrapper-no4 .bird--16:after,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before,
.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before,
.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--26:before,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29:after,
.wrapper-no4 .bird--29:before,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
    content: "";
}

.wrapper-no4 .bird:before,
.wrapper-no4 .bird--3:before,
.wrapper-no4 .bird--12:before,
.wrapper-no4 .bird--15:before,
.wrapper-no4 .bird--6:before,
.wrapper-no4 .bird--9:before,
.wrapper-no4 .bird--18:before {
    top: 10px;
}

.wrapper-no4 .bird:after,
.wrapper-no4 .bird--6:after,
.wrapper-no4 .bird--12:after,
.wrapper-no4 .bird--15:after,
.wrapper-no4 .bird--9:after,
.wrapper-no4 .bird--18:after {
    top: 35px;
}

.wrapper-no4 .bird--3:after {
    left: -10px;
}

.wrapper-no4 .bird--3:after {
    top: 40px;
}

.wrapper-no4 .bird--1,
.wrapper-no4 .bird--4,
.wrapper-no4 .bird--7,
.wrapper-no4 .bird--10,
.wrapper-no4 .bird--13,
.wrapper-no4 .bird--16,
.wrapper-no4 .bird--19 {
    top: 25px;
}

.wrapper-no4 .bird--2 {
    top: 45px;
    left: 10px;
}

.wrapper-no4 .bird--5 {
    top: 47px;
    left: 25px;
}

.wrapper-no4 .bird--8,
.wrapper-no4 .bird--11,
.wrapper-no4 .bird--14,
.wrapper-no4 .bird--17,
.wrapper-no4 .bird--20 {
    top: 50px;
}

.wrapper-no4 .bird--3,
.wrapper-no4 .bird--4 {
    left: 59px;
}

.wrapper-no4 .bird--6,
.wrapper-no4 .bird--7,
.wrapper-no4 .bird--8 {
    left: 118px;
}

.wrapper-no4 .bird--9,
.wrapper-no4 .bird--10,
.wrapper-no4 .bird--11 {
    left: 177px;
}

.wrapper-no4 .bird--12,
.wrapper-no4 .bird--13,
.wrapper-no4 .bird--14 {
    left: 225px;
}

.wrapper-no4 .bird--15,
.wrapper-no4 .bird--16,
.wrapper-no4 .bird--17 {
    left: 206.5px;
}

.wrapper-no4 .bird--20 {
    left: 108px;
}

.wrapper-no4 .bird--18,
.wrapper-no4 .bird--19 {
    left: 137.5px;
}

.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
    left: 118px;
    top: 0;
}

.wrapper-no4 .bird--30:before {
    top: 25px;
}

.wrapper-no4 .bird--30:after {
    top: 20px;
}

.wrapper-no4 .active .bird,
.wrapper-no4 .active .bird:before,
.wrapper-no4 .active .bird--3,
.wrapper-no4 .active .bird--4,
.wrapper-no4 .active .bird--4:after,
.wrapper-no4 .active .bird--4:before,
.wrapper-no4 .active .bird--9,
.wrapper-no4 .active .bird--9:after,
.wrapper-no4 .active .bird--13,
.wrapper-no4 .active .bird--13:after,
.wrapper-no4 .active .bird--13:before,
.wrapper-no4 .active .bird--15,
.wrapper-no4 .active .bird--16,
.wrapper-no4 .active .bird--18,
.wrapper-no4 .active .bird--21,
.wrapper-no4 .active .bird--21:after,
.wrapper-no4 .active .bird--27:before,
.wrapper-no4 .active .bird--24,
.wrapper-no4 .active .bird--24:after,
.wrapper-no4 .active .bird--24:before,
.wrapper-no4 .active .bird--27,
.wrapper-no4 .active .bird--27:after,
.wrapper-no4 .active .bird--27:before,
.wrapper-no4 .active .bird--30:before,
.wrapper-no4 .button-bird:hover .bird,
.wrapper-no4 .button-bird:hover .bird:before,
.wrapper-no4 .button-bird:hover .bird--3,
.wrapper-no4 .button-bird:hover .bird--4,
.wrapper-no4 .button-bird:hover .bird--4:after,
.wrapper-no4 .button-bird:hover .bird--4:before,
.wrapper-no4 .button-bird:hover .bird--9,
.wrapper-no4 .button-bird:hover .bird--9:after,
.wrapper-no4 .button-bird:hover .bird--13,
.wrapper-no4 .button-bird:hover .bird--13:after,
.wrapper-no4 .button-bird:hover .bird--13:before,
.wrapper-no4 .button-bird:hover .bird--15,
.wrapper-no4 .button-bird:hover .bird--16,
.wrapper-no4 .button-bird:hover .bird--18,
.wrapper-no4 .button-bird:hover .bird--21,
.wrapper-no4 .button-bird:hover .bird--21:after,
.wrapper-no4 .button-bird:hover .bird--27:before,
.wrapper-no4 .button-bird:hover .bird--24,
.wrapper-no4 .button-bird:hover .bird--24:after,
.wrapper-no4 .button-bird:hover .bird--24:before,
.wrapper-no4 .button-bird:hover .bird--27,
.wrapper-no4 .button-bird:hover .bird--27:after,
.wrapper-no4 .button-bird:hover .bird--27:before,
.wrapper-no4 .button-bird:hover .bird--30:before {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.wrapper-no4 .active .bird--1,
.wrapper-no4 .active .bird--1:after,
.wrapper-no4 .active .bird--3:before,
.wrapper-no4 .active .bird--5,
.wrapper-no4 .active .bird--5:after,
.wrapper-no4 .active .bird--5:before,
.wrapper-no4 .active .bird--7,
.wrapper-no4 .active .bird--7:after,
.wrapper-no4 .active .bird--7:before,
.wrapper-no4 .active .bird--9:before,
.wrapper-no4 .active .bird--10,
.wrapper-no4 .active .bird--10:after,
.wrapper-no4 .active .bird--10:before,
.wrapper-no4 .active .bird--14,
.wrapper-no4 .active .bird--14:after,
.wrapper-no4 .active .bird--14:before,
.wrapper-no4 .active .bird--17,
.wrapper-no4 .active .bird--17:after,
.wrapper-no4 .active .bird--17:before,
.wrapper-no4 .active .bird--19,
.wrapper-no4 .active .bird--19:after,
.wrapper-no4 .active .bird--19:before,
.wrapper-no4 .active .bird--18:after,
.wrapper-no4 .active .bird--22,
.wrapper-no4 .active .bird--22:after,
.wrapper-no4 .active .bird--22:before,
.wrapper-no4 .active .bird--25,
.wrapper-no4 .active .bird--25:after,
.wrapper-no4 .active .bird--25:before,
.wrapper-no4 .active .bird--28,
.wrapper-no4 .active .bird--28:after,
.wrapper-no4 .active .bird--28:before,
.wrapper-no4 .active .bird--30:after,
.wrapper-no4 .button-bird:hover .bird--1,
.wrapper-no4 .button-bird:hover .bird--1:after,
.wrapper-no4 .button-bird:hover .bird--3:before,
.wrapper-no4 .button-bird:hover .bird--5,
.wrapper-no4 .button-bird:hover .bird--5:after,
.wrapper-no4 .button-bird:hover .bird--5:before,
.wrapper-no4 .button-bird:hover .bird--7,
.wrapper-no4 .button-bird:hover .bird--7:after,
.wrapper-no4 .button-bird:hover .bird--7:before,
.wrapper-no4 .button-bird:hover .bird--9:before,
.wrapper-no4 .button-bird:hover .bird--10,
.wrapper-no4 .button-bird:hover .bird--10:after,
.wrapper-no4 .button-bird:hover .bird--10:before,
.wrapper-no4 .button-bird:hover .bird--14,
.wrapper-no4 .button-bird:hover .bird--14:after,
.wrapper-no4 .button-bird:hover .bird--14:before,
.wrapper-no4 .button-bird:hover .bird--17,
.wrapper-no4 .button-bird:hover .bird--17:after,
.wrapper-no4 .button-bird:hover .bird--17:before,
.wrapper-no4 .button-bird:hover .bird--19,
.wrapper-no4 .button-bird:hover .bird--19:after,
.wrapper-no4 .button-bird:hover .bird--19:before,
.wrapper-no4 .button-bird:hover .bird--18:after,
.wrapper-no4 .button-bird:hover .bird--22,
.wrapper-no4 .button-bird:hover .bird--22:after,
.wrapper-no4 .button-bird:hover .bird--22:before,
.wrapper-no4 .button-bird:hover .bird--25,
.wrapper-no4 .button-bird:hover .bird--25:after,
.wrapper-no4 .button-bird:hover .bird--25:before,
.wrapper-no4 .button-bird:hover .bird--28,
.wrapper-no4 .button-bird:hover .bird--28:after,
.wrapper-no4 .button-bird:hover .bird--28:before,
.wrapper-no4 .button-bird:hover .bird--30:after {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.wrapper-no4 .active .bird:after,
.wrapper-no4 .active .bird--1:before,
.wrapper-no4 .active .bird--2,
.wrapper-no4 .active .bird--2:before,
.wrapper-no4 .active .bird--2:after,
.wrapper-no4 .active .bird--3:after,
.wrapper-no4 .active .bird--6,
.wrapper-no4 .active .bird--6:after,
.wrapper-no4 .active .bird--6:before,
.wrapper-no4 .active .bird--8,
.wrapper-no4 .active .bird--8:after,
.wrapper-no4 .active .bird--8:before,
.wrapper-no4 .active .bird--11,
.wrapper-no4 .active .bird--11:after,
.wrapper-no4 .active .bird--11:before,
.wrapper-no4 .active .bird--12,
.wrapper-no4 .active .bird--12:after,
.wrapper-no4 .active .bird--12:before,
.wrapper-no4 .active .bird--16,
.wrapper-no4 .active .bird--16:after,
.wrapper-no4 .active .bird--16:before,
.wrapper-no4 .active .bird--20,
.wrapper-no4 .active .bird--20:after,
.wrapper-no4 .active .bird--20:before,
.wrapper-no4 .active .bird--18:before,
.wrapper-no4 .active .bird--23,
.wrapper-no4 .active .bird--23:after,
.wrapper-no4 .active .bird--23:before,
.wrapper-no4 .active .bird--26,
.wrapper-no4 .active .bird--26:after,
.wrapper-no4 .active .bird--26:before,
.wrapper-no4 .active .bird--29,
.wrapper-no4 .active .bird--29:after,
.wrapper-no4 .active .bird--29:before,
.wrapper-no4 .active .bird--30,
.wrapper-no4 .button-bird:hover .bird:after,
.wrapper-no4 .button-bird:hover .bird--1:before,
.wrapper-no4 .button-bird:hover .bird--2,
.wrapper-no4 .button-bird:hover .bird--2:before,
.wrapper-no4 .button-bird:hover .bird--2:after,
.wrapper-no4 .button-bird:hover .bird--3:after,
.wrapper-no4 .button-bird:hover .bird--6,
.wrapper-no4 .button-bird:hover .bird--6:after,
.wrapper-no4 .button-bird:hover .bird--6:before,
.wrapper-no4 .button-bird:hover .bird--8,
.wrapper-no4 .button-bird:hover .bird--8:after,
.wrapper-no4 .button-bird:hover .bird--8:before,
.wrapper-no4 .button-bird:hover .bird--11,
.wrapper-no4 .button-bird:hover .bird--11:after,
.wrapper-no4 .button-bird:hover .bird--11:before,
.wrapper-no4 .button-bird:hover .bird--12,
.wrapper-no4 .button-bird:hover .bird--12:after,
.wrapper-no4 .button-bird:hover .bird--12:before,
.wrapper-no4 .button-bird:hover .bird--16,
.wrapper-no4 .button-bird:hover .bird--16:after,
.wrapper-no4 .button-bird:hover .bird--16:before,
.wrapper-no4 .button-bird:hover .bird--20,
.wrapper-no4 .button-bird:hover .bird--20:after,
.wrapper-no4 .button-bird:hover .bird--20:before,
.wrapper-no4 .button-bird:hover .bird--18:before,
.wrapper-no4 .button-bird:hover .bird--23,
.wrapper-no4 .button-bird:hover .bird--23:after,
.wrapper-no4 .button-bird:hover .bird--23:before,
.wrapper-no4 .button-bird:hover .bird--26,
.wrapper-no4 .button-bird:hover .bird--26:after,
.wrapper-no4 .button-bird:hover .bird--26:before,
.wrapper-no4 .button-bird:hover .bird--29,
.wrapper-no4 .button-bird:hover .bird--29:after,
.wrapper-no4 .button-bird:hover .bird--29:before,
.wrapper-no4 .button-bird:hover .bird--30 {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

@-webkit-keyframes fly-cycle {
    100% {
        background-position: -360px 0;
    }
}

@keyframes fly-cycle {
    100% {
        background-position: -360px 0;
    }
}

@-webkit-keyframes text-fade {
    0% {
        color: transparent;
        opacity: 1;
        top: -50%;
        left: auto;
    }

    1% {
        color: transparent;
        opacity: 0;
    }

    50% {
        color: transparent;
        opacity: 0;
    }

    100% {
        color: var(--white);
        opacity: 1;
    }
}

@keyframes text-fade {
    0% {
        color: transparent;
        opacity: 1;
        top: -50%;
        left: auto;
    }

    1% {
        color: transparent;
        opacity: 0;
    }

    50% {
        color: transparent;
        opacity: 0;
    }

    100% {
        color: var(--white);
        opacity: 1;
    }
}

@-webkit-keyframes feather-fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    25% {
        transform: rotate(10deg);
        left: 30%;
    }

    50% {
        transform: rotate(-5deg);
        opacity: 1;
        left: 45%;
    }

    75% {
        transform: rotate(10deg);
        left: 32%;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
        top: 12px;
        left: 43%;
    }
}

@keyframes feather-fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    25% {
        transform: rotate(10deg);
        left: 30%;
    }

    50% {
        transform: rotate(-5deg);
        opacity: 1;
        left: 45%;
    }

    75% {
        transform: rotate(10deg);
        left: 32%;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
        top: 12px;
        left: 43%;
    }
}

.button {
    align-items: center;
    background: 0 0;
    border: none;
    border-radius: 6.25rem;
    color: var(--button-color, var(--button-stroke));
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: .363636em;
    justify-content: center;
    letter-spacing: -.01em;
    line-height: 1.04545;
    overflow: hidden;
    padding: .9375rem 1.5rem;
    position: relative;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.button.button--stroke:hover {
    color: black;
    transform: scale(1.15);
    font-weight: 600;
}

.button--stroke:after,
.button__border-gradient {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.button--stroke:after {
    border: .125rem solid var(--button-stroke);
    border-radius: 2rem;
    content: "";
    pointer-events: none
}

.button__flair {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.button--stroke .button__flair {
    transform: scale(0);
    transform-origin: 0 0;
    will-change: transform
}

.button--fill .button__flair {
    opacity: 0;
    will-change: opacity
}

.button__flair:before {
    aspect-ratio: 1;
    background: url('../images/noise-button-fd0bf638.png'), var(--button-stroke);
    border-radius: 100%;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 95%;
}

.button--fill .button__flair:before {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: transparent;
    background-image: url('../images/noise-button-fd0bf638.png'), linear-gradient(113deg, hsla(0, 0%, 100%, .02) 24.91%, hsla(0, 0%, 100%, .8) 57.81%, hsla(0, 0%, 100%, .26) 67.47%);
    background-origin: padding-box, padding-box;
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat;
    background-size: cover;
    filter: blur(.5rem)
}

.button__label {
    position: relative;
    text-align: center;
}

@keyframes butt_zoom {
    0% {
        transform: scale(1);
        color: rgb(0, 0, 0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        color: var(--body);
    }
}

.button--stroke:active {
    animation: butt_zoom 0.5s ease-in;
}

#overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.6s ease;
}

#progress {
    height: 2px;
    background: var(--white);
    position: absolute;
    width: 0;
    top: 60%;
    transition: 0.3s;
}

#progstat {
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--white);
}

#hoverText {
    position: relative;
    display: inline-block;
}

#hoverText::before {
    content: "Kamlesh Baheti";
}

#hoverText2::before {
    content: "\00A9  2025 | All rights & wrongs reserved.";
    display: block;
}

#hoverText2::after {
    content: "\00A9  2025 | Unauthorized duplication or distribution is prohibited.";
    position: relative;
    display: none;
}

#hoverText2:hover::before {
    display: none;
}

#hoverText2:hover::after {
    display: block;
}

.col-auto .name_auther {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .full-height {
        margin-top: 0rem;
    }
}

@media (max-width: 992px) {
    .navbar {
        border-bottom-left-radius: 2rem;
        display: none;
    }

    .button__flair {
        display: none;
    }

    .button.button--stroke:hover {
        color: var(--white);
        transform: none;
    }

    .button--stroke:active {
        animation: none;
    }
}

.volume {
    position: fixed;
    top: 0px;
    right: 10px;
    margin: 12px;
    width: 60px;
    height: 60px;
    border-radius: 70% 65% / 50% 75%;
    /* background-color: #40a3d8bc; */
    background-color: color-mix(in srgb, var(--blue-darkmode) 99%, rgba(64, 163, 216, 74%));
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 1000;
    outline: none;
}

.volume-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
}

.volume-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 999;
}

.volume-icon:before {
    content: "";
    display: flex;
    width: 0;
    height: 100%;
    border-radius: 70% 65% / 50% 75%;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--black);
}

.volume-input:checked+.volume-icon:before {
    width: 100%;
}

.volume-svg {
    z-index: 2;
    border: 0px;
    color: var(--white);
    height: 30px;
    width: 30px;
}

.volume-svg .volume-line-1 {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.volume-svg .volume-cross-1,
.volume-svg .volume-cross-2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.volume-input:checked+.volume-icon .volume-line-1 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.volume-input:checked+.volume-icon .volume-cross-1,
.volume-input:checked+.volume-icon .volume-cross-2 {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

@-webkit-keyframes hvr-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes hvr-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.hvr-wobble-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-skew:hover,
.hvr-wobble-skew:focus,
.hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    aspect-ratio: 2.2 / 1;
    perspective: 900px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front, 
.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.5rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.flip-card-back {
    transform: rotateX(180deg);
    background-color: none;
    overflow: auto;
    font-size: inherit;
}

.masonry {
    column-count: 4;
    column-gap: 1.6rem;
    position: relative;
}

.masonry-item {
    color: white;
    padding: 16px;
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    font-weight: 600;
}

.tag {
    display: inline-block;
    background: var(--blue-darkmode);
    color: #000;
    padding: 10px 13px;
    margin: 6px;
    border-radius: 1.3rem;
    font-size: calc(0.9rem + 1.2vmin);
    transition: transform 0.2s ease;
}

.tag:hover {
    transform: scale(1.2) !important;
}

@media (max-width: 1100px) {
    .masonry {
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .masonry {
        column-count: 1;
    }
}